#karateExplanation {
  width: 85%;
}

.ColorPicker {
  cursor: pointer;
  display: inline-block;
  margin-left: 150px;
  margin-top: 5px;
  width: 60px;
  height: 30px;
  transform: translateY(37px);
}

/* normalize button */
#normalizeDistribution {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-size: 14pt;
  color: #eeeeee;
  background-color: #ff5722;
  border-radius: 10px;
  padding: 18px 10px;
  font-weight: 600;
}

/* validation text thingy */
.DistributionStatus {
  text-align: center;
  display: inline-block;
  padding: 1px 15px 1px 15px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: -10px;
}

.valid {
  background-color: #0A8E4E;
}

.invalid {
  background-color: #ff225b;
}

/* padding for the validation below */
.CustomModel {
  margin-bottom: 15px;
}
