.Slider {
  width: 70%;
}

.SliderDescription {
  display: block;
  text-align: left;
  padding-left: 13%;
}

.SliderValue {
  display: inline-block;
  width: 3em;
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
